<?php
echo '<h1>Contato enviado pelo site em '.date('d/m/Y H:i').'</h1>
	<p>
		Nome: '.$this->request->data['contato_nome'].'<br>
		Email: '.$this->request->data['contato_email'].'<br>
		Assunto: '.$this->request->data['contato_assunto'].'<br>
		Mensagem: '.$this->request->data['contato_mensagem'].'
	</p>';
?>