/*!
 * OneUI - v4.2.0
 * @author pixelcave - https://pixelcave.com
 * Copyright (c) 2019
 */
body {
  color: #575757;
  background-color: #f6f5f7;
}

a {
  color: #ff8a05;
}

a.link-fx::before {
  background-color: #ff8a05;
}

a:hover {
  color: #b57624;
}

.laranja-color {
  color: #ff8a05;
}
.laranja-bg-color {
  background-color: #ff8a05;
}
.laranja-border-color {
  border-color: #ff8a05;
}
.yeseva {
  font-family: 'Yeseva One', cursive;
}
.uppercase {
  text-transform: uppercase;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #373737;
}

.content-heading {
  border-bottom-color: #eceaee;
}

hr {
  border-top-color: #eceaee;
}

.text-primary {
  color: #ff8a05 !important;
}

a.text-primary.link-fx::before {
  background-color: #ff8a05;
}

a.text-primary:hover, a.text-primary:focus {
  color: #b57624 !important;
}

.text-primary-dark {
  color: #4f546b !important;
}

a.text-primary-dark.link-fx::before {
  background-color: #4f546b;
}

a.text-primary-dark:hover, a.text-primary-dark:focus {
  color: #242630 !important;
}

.text-primary-darker {
  color: #353847 !important;
}

a.text-primary-darker.link-fx::before {
  background-color: #353847;
}

a.text-primary-darker:hover, a.text-primary-darker:focus {
  color: #090a0d !important;
}

.text-primary-light {
  color: #c8b7e4 !important;
}

a.text-primary-light.link-fx::before {
  background-color: #c8b7e4;
}

a.text-primary-light:hover, a.text-primary-light:focus {
  color: #8f6cc9 !important;
}

.text-primary-lighter {
  color: #e4dcf2 !important;
}

a.text-primary-lighter.link-fx::before {
  background-color: #e4dcf2;
}

a.text-primary-lighter:hover, a.text-primary-lighter:focus {
  color: #ac91d7 !important;
}

.text-body-bg {
  color: #f6f5f7 !important;
}

a.text-body-bg.link-fx::before {
  background-color: #f6f5f7;
}

a.text-body-bg:hover, a.text-body-bg:focus {
  color: #c3bcca !important;
}

.text-body-bg-light {
  color: #fbfbfc !important;
}

a.text-body-bg-light.link-fx::before {
  background-color: #fbfbfc;
}

a.text-body-bg-light:hover, a.text-body-bg-light:focus {
  color: #c8c2ce !important;
}

.text-body-bg-dark {
  color: #eceaee !important;
}

a.text-body-bg-dark.link-fx::before {
  background-color: #eceaee;
}

a.text-body-bg-dark:hover, a.text-body-bg-dark:focus {
  color: #b9b1c1 !important;
}

.text-body-color {
  color: #575757 !important;
}

a.text-body-color.link-fx::before {
  background-color: #575757;
}

a.text-body-color:hover, a.text-body-color:focus {
  color: #242424 !important;
}

.text-body-color-dark {
  color: #373737 !important;
}

a.text-body-color-dark.link-fx::before {
  background-color: #373737;
}

a.text-body-color-dark:hover, a.text-body-color-dark:focus {
  color: #040404 !important;
}

.text-body-color-light {
  color: #eceaee !important;
}

a.text-body-color-light.link-fx::before {
  background-color: #eceaee;
}

a.text-body-color-light:hover, a.text-body-color-light:focus {
  color: #b9b1c1 !important;
}

.text-dual {
  color: #4f546b !important;
}

a.text-dual.link-fx::before {
  background-color: #4f546b;
}

a.text-dual:hover, a.text-dual:focus {
  color: #242630 !important;
}

.page-header-dark #page-header .text-dual,
.sidebar-dark #sidebar .text-dual {
  color: #eceaee !important;
}

.page-header-dark #page-header a.text-dual.link-fx::before,
.sidebar-dark #sidebar a.text-dual.link-fx::before {
  background-color: #eceaee;
}

.page-header-dark #page-header a.text-dual:hover, .page-header-dark #page-header a.text-dual:focus,
.sidebar-dark #sidebar a.text-dual:hover,
.sidebar-dark #sidebar a.text-dual:focus {
  color: #b9b1c1 !important;
}

.bg-primary {
  background-color: #ff8a05 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #8c6000 !important;
}

.bg-primary-op {
  background-color: rgba(166, 138, 212, 0.75) !important;
}

a.bg-primary-op:hover, a.bg-primary-op:focus,
button.bg-primary-op:hover,
button.bg-primary-op:focus {
  background-color: rgba(138, 101, 198, 0.75) !important;
}

.bg-primary-dark {
  background-color: #4f546b !important;
}

a.bg-primary-dark:hover, a.bg-primary-dark:focus,
button.bg-primary-dark:hover,
button.bg-primary-dark:focus {
  background-color: #393d4e !important;
}

.bg-primary-dark-op {
  background-color: rgba(79, 84, 107, 0.8) !important;
}

a.bg-primary-dark-op:hover, a.bg-primary-dark-op:focus,
button.bg-primary-dark-op:hover,
button.bg-primary-dark-op:focus {
  background-color: rgba(57, 61, 78, 0.8) !important;
}

.bg-primary-darker {
  background-color: #353847 !important;
}

a.bg-primary-darker:hover, a.bg-primary-darker:focus,
button.bg-primary-darker:hover,
button.bg-primary-darker:focus {
  background-color: #1f212a !important;
}

.bg-primary-light {
  background-color: #c8b7e4 !important;
}

a.bg-primary-light:hover, a.bg-primary-light:focus,
button.bg-primary-light:hover,
button.bg-primary-light:focus {
  background-color: #ac91d7 !important;
}

.bg-primary-lighter {
  background-color: #e4dcf2 !important;
}

a.bg-primary-lighter:hover, a.bg-primary-lighter:focus,
button.bg-primary-lighter:hover,
button.bg-primary-lighter:focus {
  background-color: #c8b7e4 !important;
}

.bg-body {
  background-color: #f6f5f7 !important;
}

a.bg-body:hover, a.bg-body:focus,
button.bg-body:hover,
button.bg-body:focus {
  background-color: #ddd9e0 !important;
}

.bg-body-light {
  background-color: #fbfbfc !important;
}

a.bg-body-light:hover, a.bg-body-light:focus,
button.bg-body-light:hover,
button.bg-body-light:focus {
  background-color: #e2dee5 !important;
}

.bg-body-dark {
  background-color: #eceaee !important;
}

a.bg-body-dark:hover, a.bg-body-dark:focus,
button.bg-body-dark:hover,
button.bg-body-dark:focus {
  background-color: #d2cdd7 !important;
}

.bg-header-light {
  background-color: #fff !important;
}

a.bg-header-light:hover, a.bg-header-light:focus,
button.bg-header-light:hover,
button.bg-header-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-header-dark {
  background-color: #353847 !important;
}

a.bg-header-dark:hover, a.bg-header-dark:focus,
button.bg-header-dark:hover,
button.bg-header-dark:focus {
  background-color: #1f212a !important;
}

.bg-sidebar-light {
  background-color: #fff !important;
}

a.bg-sidebar-light:hover, a.bg-sidebar-light:focus,
button.bg-sidebar-light:hover,
button.bg-sidebar-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-sidebar-dark {
  background-color: #353847 !important;
}

a.bg-sidebar-dark:hover, a.bg-sidebar-dark:focus,
button.bg-sidebar-dark:hover,
button.bg-sidebar-dark:focus {
  background-color: #1f212a !important;
}

.btn-link {
  color: #ff8a05;
}

.btn-link:hover {
  color: #b57624;
}

.btn-primary {
  color: #fff;
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.btn-primary:hover {
  color: #fff;
  background-color: #cfaa3e;
  border-color: #8c6000;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(179, 156, 218, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #8c6000;
  border-color: #835bc3;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(179, 156, 218, 0.5);
}

.btn-outline-primary {
  color: #ff8a05;
  border-color: #ff8a05;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #ff8a05;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.5);
}

.page-header-dark #page-header .btn-dual,
.sidebar-dark #sidebar .btn-dual {
  color: #fff;
  background-color: #626985;
  border-color: #626985;
}

.page-header-dark #page-header .btn-dual:hover, .page-header-dark #page-header .btn-dual:focus, .page-header-dark #page-header .btn-dual.focus,
.sidebar-dark #sidebar .btn-dual:hover,
.sidebar-dark #sidebar .btn-dual:focus,
.sidebar-dark #sidebar .btn-dual.focus {
  color: #fff;
  background-color: #51566e;
  border-color: #494d62;
  box-shadow: none;
}

.page-header-dark #page-header .btn-dual.disabled, .page-header-dark #page-header .btn-dual:disabled,
.sidebar-dark #sidebar .btn-dual.disabled,
.sidebar-dark #sidebar .btn-dual:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-dark #page-header .btn-dual:active, .page-header-dark #page-header .btn-dual.active,
.sidebar-dark #sidebar .btn-dual:active,
.sidebar-dark #sidebar .btn-dual.active {
  color: #fff;
  background-color: #3c3f51;
  border-color: #333645;
}

.show > .page-header-dark #page-header .btn-dual.dropdown-toggle, .show >
.sidebar-dark #sidebar .btn-dual.dropdown-toggle {
  color: #fff;
  background-color: #626985;
  border-color: #626985;
}

.alert-primary {
  color: #4f546b;
  background-color: #e4dcf2;
  border-color: #e4dcf2;
  box-shadow: 0 0.125rem #d6c9eb;
}

.alert-primary hr {
  border-top-color: #d6c9eb;
}

.alert-primary .alert-link {
  color: #393d4e;
}

.badge-primary {
  color: #fff;
  background-color: #ff8a05;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #8c6000;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.5);
}

.progress-bar {
  background-color: #ff8a05;
}

.nav-link {
  color: #575757;
}

.nav-link:hover, .nav-link:focus {
  color: #ff8a05;
}

.nav-pills .nav-link {
  color: #575757;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #f6f5f7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ff8a05;
}

.nav-tabs {
  border-bottom-color: #eceaee;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #eceaee #eceaee #eceaee;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #eceaee #eceaee #fff;
}

.nav-tabs-block {
  background-color: #fbfbfc;
}

.nav-tabs-block .nav-link {
  border-color: transparent;
  color: #575757;
}

.nav-tabs-block .nav-link:hover, .nav-tabs-block .nav-link:focus {
  color: #ff8a05;
  background-color: #fbfbfc;
  border-color: transparent;
}

.nav-tabs-block .nav-link.active,
.nav-tabs-block .nav-item.show .nav-link {
  color: #575757;
  background-color: #fff;
  border-color: transparent;
}

.nav-tabs-alt {
  border-bottom-color: #eceaee;
}

.nav-tabs-alt .nav-link {
  color: #575757;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs-alt .nav-link:hover, .nav-tabs-alt .nav-link:focus {
  color: #ff8a05;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #ff8a05;
}

.nav-tabs-alt .nav-link.active,
.nav-tabs-alt .nav-item.show .nav-link {
  color: #575757;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #ff8a05;
}

.nav-items a {
  border-bottom-color: #f6f5f7;
}

.nav-items a:hover {
  background-color: #fbfbfc;
}

.nav-items a:active {
  background-color: #f6f5f7;
}

.nav-items > li:last-child > a {
  border-bottom: none;
}

.page-item.active a {
  color: #ff8a05;
  background-color: #fbfbfc;
  border-color: #ff8a05;
}

.page-link {
  color: #575757;
}

.page-item a:hover {
  color: #ff8a05;
  border-color: #ff8a05;
}

.page-item a:focus {
  background-color: #f6f5f7;
}

.list-group-item-action {
  color: #575757;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: #575757;
  background-color: #fbfbfc;
}

.list-group-item-action:active {
  color: #575757;
  background-color: #eceaee;
}

.list-group-item {
  border-color: #eceaee;
}

.list-group-item.active {
  color: #fff;
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.popover {
  border-color: #eceaee;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: #eceaee;
}

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: #fff;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
  border-right-color: #eceaee;
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: #fff;
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #eceaee;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: #fff;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #eceaee;
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #fff;
}

.modal-header {
  border-bottom-color: #eceaee;
}

.modal-footer {
  border-top-color: #eceaee;
}

.dropdown-menu {
  border-color: #eceaee;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #f6f5f7;
}

.dropdown-item {
  color: #575757;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #373737;
  background-color: #f6f5f7;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #ff8a05;
}

.dropdown-header {
  color: #373737;
}

table thead .sorting:after {
  content: "\f0dc";
  right: .375rem;
  bottom: .75rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  opacity: .4;
}

.table thead th, .table thead th a {
  background-color: #ff8a05;
  color: #ffffff;
}
.table th,
.table td {
  border-top-color: #eceaee;
}

.table thead th {
  border-bottom-color: #eceaee;
}

.table tbody + tbody {
  border-top-color: #eceaee;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #eceaee;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #faf9fa;
}

.table-hover tbody tr:hover {
  background-color: #f2f1f4;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: #f2f1f4;
}

.table-hover .table-active:hover {
  background-color: #e5e3e8;
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: #e5e3e8;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #e4dcf2;
}

.table-hover .table-primary:hover {
  background-color: #d6c9eb;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #d6c9eb;
}

.table .thead-dark th {
  background-color: #4f546b;
  border-color: #4f546b;
}

.table .thead-light th {
  background-color: #eceaee;
  border-color: #eceaee;
}

.form-control {
  color: #575757;
  background-color: #fff;
  border-color: #e2dee5;
}

.form-control:focus {
  color: #373737;
  background-color: #fff;
  border-color: #ede7f6;
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.25);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
}

select.form-control:focus::-ms-value {
  color: #575757;
  background-color: #fff;
}

.custom-control-primary .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.custom-control-primary .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(166, 138, 212, 0.25);
}

.custom-control-primary .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #ff8a05;
}

.custom-control-primary .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #dfd5ef;
  border-color: #dfd5ef;
}

.custom-control-primary .custom-control-label::before {
  background-color: #e4dcf2;
  border-color: #9d7fd0;
}

.custom-control-primary.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-control-primary.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-control-primary.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-control-primary.custom-switch .custom-control-label::after {
  background-color: rgba(166, 138, 212, 0.6);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(166, 138, 212, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #ff8a05;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #e4dcf2;
  border-color: #e4dcf2;
}

.custom-control-label::before {
  background-color: #eceaee;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff8a05;
}

.custom-select {
  border-color: #e2dee5;
}

.custom-select:focus {
  border-color: #ede7f6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(237, 231, 246, 0.5);
}

.custom-select:focus::-ms-value {
  color: #575757;
  background-color: #fff;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #ede7f6;
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.25);
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #ede7f6;
}

.custom-file-label {
  color: #575757;
  background-color: #fff;
  border-color: #e2dee5;
}

.custom-file-label::after {
  color: #575757;
  background-color: #eceaee;
  border-left-color: #e2dee5;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #46c37b;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(70, 195, 123, 0.9);
  border-radius: 0;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #46c37b;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #46c37b;
  box-shadow: 0 0 0 0.2rem rgba(70, 195, 123, 0.25);
}

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-select:valid, .custom-select.is-valid {
  border-color: #46c37b;
}

.was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
  border-color: #46c37b;
  box-shadow: 0 0 0 0.2rem rgba(70, 195, 123, 0.25);
}

.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-tooltip, .custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control-file:valid ~ .valid-feedback,
.was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
.form-control-file.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #46c37b;
}

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #46c37b;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
  border-color: #46c37b;
}

.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: #6dcf96;
  background-color: #6dcf96;
}

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(70, 195, 123, 0.25);
}

.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #46c37b;
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #46c37b;
}

.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
  border-color: #46c37b;
  box-shadow: 0 0 0 0.2rem rgba(70, 195, 123, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #d26a5c;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(210, 106, 92, 0.9);
  border-radius: 0;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #d26a5c;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #d26a5c;
  box-shadow: 0 0 0 0.2rem rgba(210, 106, 92, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: #d26a5c;
}

.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
  border-color: #d26a5c;
  box-shadow: 0 0 0 0.2rem rgba(210, 106, 92, 0.25);
}

.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control-file:invalid ~ .invalid-feedback,
.was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
.form-control-file.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #d26a5c;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #d26a5c;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #d26a5c;
}

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #dd8f84;
  background-color: #dd8f84;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(210, 106, 92, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #d26a5c;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #d26a5c;
}

.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #d26a5c;
  box-shadow: 0 0 0 0.2rem rgba(210, 106, 92, 0.25);
}

.form-control.form-control-alt {
  border-color: #f6f5f7;
  background-color: #f6f5f7;
}

.form-control.form-control-alt:focus {
  border-color: #eceaee;
  background-color: #eceaee;
  box-shadow: none;
}

.input-group-text {
  color: #575757;
  background-color: #f6f5f7;
  border-color: #e2dee5;
}

.input-group-text.input-group-text-alt {
  background-color: #eceaee;
  border-color: #eceaee;
}

.border {
  border-color: #eceaee !important;
}

.border-top {
  border-top-color: #eceaee !important;
}

.border-right {
  border-right-color: #eceaee !important;
}

.border-bottom {
  border-bottom-color: #eceaee !important;
}

.border-left {
  border-left-color: #eceaee !important;
}

.border-primary-light {
  border-color: #98aee2 !important;
}

.border-primary-lighter {
  border-color: #cbd7f0 !important;
}

.border-primary-dark {
  border-color: #3e4a59 !important;
}

.border-primary-darker {
  border-color: #2c343f !important;
}

.border-success-light {
  border-color: #e0f5e9 !important;
}

.border-info-light {
  border-color: #edf6fd !important;
}

.border-warning-light {
  border-color: #fdf3e5 !important;
}

.border-danger-light {
  border-color: #f9eae8 !important;
}

.border-primary {
  border-color: #5c80d1 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #46c37b !important;
}

.border-info {
  border-color: #70b9eb !important;
}

.border-warning {
  border-color: #f3b760 !important;
}

.border-danger {
  border-color: #d26a5c !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-primary {
  border-color: #ff8a05 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-white-op {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.border-black-op {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

#page-header {
  background-color: #fff;
}

#sidebar {
  background-color: #fff;
}

#side-overlay {
  background-color: #fff;
}

#page-container.page-header-dark #page-header {
  color: #d7d3dc;
  background-color: #353847;
}

#page-container.page-header-glass #page-header {
  background-color: transparent;
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll #page-header {
  background-color: #fff;
}

#page-container.page-header-glass.page-header-fixed.page-header-scroll.page-header-dark #page-header {
  background-color: #353847;
}

#page-container.sidebar-dark #sidebar {
  color: #eceaee;
  background-color: #353847;
}

.block-header-default {
  background-color: #fbfbfc;
}

.block.block-bordered {
  border-color: #eceaee;
}

.block.block-themed > .block-header {
  background-color: #ff8a05;
}

.block.block-mode-loading::after {
  color: #4f546b;
}

.block.block-mode-loading.block-mode-loading-dark::after {
  background-color: #4f546b;
}

a.block {
  color: #575757;
}

a.block:hover {
  color: #575757;
}

a.block.block-link-pop:hover {
  box-shadow: 0 0.5rem 2rem #e2dee5;
}

a.block.block-link-pop:active {
  box-shadow: 0 0.25rem 0.75rem #f3f2f5;
}

a.block.block-link-shadow:hover {
  box-shadow: 0 0 2.25rem #e2dee5;
}

a.block.block-link-shadow:active {
  box-shadow: 0 0 1.125rem #eceaee;
}

.block.block-fx-shadow {
  box-shadow: 0 0 2.25rem #e2dee5;
}

.block.block-fx-pop {
  box-shadow: 0 0.5rem 2rem #e2dee5;
}

#page-loader::after {
  background-color: #ff8a05;
}

.nav-main-heading {
  color: #979797;
}

.nav-main-link {
  color: #575757;
}

.nav-main-link .nav-main-link-icon {
  color: #b0b0b0;
}

.nav-main-link:hover {
  color: #575757;
  background-color: #fbfbfc;
}

.nav-main-link:hover > .nav-main-link-icon {
  color: #000;
}

.nav-main-link.active {
  color: #000;
}

.nav-main-link.active > .nav-main-link-icon {
  color: #000;
}

.nav-main-submenu .nav-main-link {
  color: #717171;
}

.nav-main-submenu .nav-main-link:hover, .nav-main-submenu .nav-main-link.active {
  color: #000;
  background-color: transparent;
}

.nav-main-item.open > .nav-main-link-submenu {
  color: #000;
}

.nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}
.nav-main-item:first-child {
  padding-top: 10px;
}
.nav-main-item:last-child{
  padding-bottom: 10px;
}

.nav-items a {
  border-bottom-color: #f6f5f7;
}

.nav-items a:hover {
  background-color: #fbfbfc;
}

.list-activity > li {
  border-bottom-color: #f6f5f7;
}

.timeline-event-icon {
  box-shadow: 0 0.375rem 1.5rem #e2dee5;
}

.ribbon-light .ribbon-box {
  color: #575757;
  background-color: #eceaee;
}

.ribbon-light.ribbon-bookmark .ribbon-box::before {
  border-color: #eceaee;
  border-left-color: transparent;
}

.ribbon-light.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #eceaee;
  border-right-color: transparent;
}

.ribbon-light.ribbon-modern .ribbon-box::before {
  border-color: #eceaee;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-bottom .ribbon-box::before {
  border-color: #eceaee;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-left .ribbon-box::before {
  border-color: #eceaee;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-light.ribbon-modern.ribbon-left.ribbon-bottom .ribbon-box::before {
  border-color: #eceaee;
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-primary .ribbon-box {
  color: #fff;
  background-color: #ff8a05;
}

.ribbon-primary.ribbon-bookmark .ribbon-box::before {
  border-color: #ff8a05;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #ff8a05;
  border-right-color: transparent;
}

.ribbon-primary.ribbon-modern .ribbon-box::before {
  border-color: #ff8a05;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-bottom .ribbon-box::before {
  border-color: #ff8a05;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-left .ribbon-box::before {
  border-color: #ff8a05;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.ribbon-primary.ribbon-modern.ribbon-left.ribbon-bottom .ribbon-box::before {
  border-color: #ff8a05;
  border-top-color: transparent;
  border-right-color: transparent;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #ff8a05;
  border-color: #ff8a05;
}

.cke_chrome {
  border-color: #eceaee !important;
}

.cke_top {
  border-bottom-color: #eceaee !important;
  background: #fbfbfc !important;
}

.cke_bottom {
  border-top-color: #eceaee !important;
  background: #fbfbfc !important;
}

.dropzone {
  background-color: #fbfbfc;
  border-color: #e2dee5;
}

.dropzone .dz-message {
  color: #575757;
}

.dropzone:hover {
  background-color: #fff;
  border-color: #ff8a05;
}

.dropzone:hover .dz-message {
  color: #ff8a05;
}

.fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
  color: #373737;
}

.fc-bootstrap4 .fc-event {
  color: #373737;
}

.fc-bootstrap4 .fc-event:hover {
  color: #575757;
}

.fc-bootstrap4 thead th.fc-day-header {
  background-color: #fbfbfc;
}

.fc-bootstrap4 th,
.fc-bootstrap4 td,
.fc-bootstrap4 thead,
.fc-bootstrap4 tbody,
.fc-bootstrap4 .fc-divider,
.fc-bootstrap4 .fc-row,
.fc-bootstrap4 .fc-content,
.fc-bootstrap4 .fc-popover,
.fc-bootstrap4 .fc-list-view,
.fc-bootstrap4 .fc-list-heading td,
.fc-bootstrap4 .fc-list-table.table {
  border-color: #eceaee;
}

.fc-bootstrap4 .fc-divider,
.fc-bootstrap4 .fc-list-heading td,
.fc-bootstrap4 .fc-popover .fc-header {
  background: #f6f5f7;
}

.fc-bootstrap4 .fc-today {
  background: #fbfbfc;
}

.irs.irs--round .irs-min,
.irs.irs--round .irs-max,
.irs.irs--round .irs-line,
.irs.irs--round .irs-grid-pol {
  background: #f6f5f7;
}

.irs.irs--round .irs-handle {
  border-color: #ff8a05;
}

.irs.irs--round .irs-from:before,
.irs.irs--round .irs-to:before,
.irs.irs--round .irs-single:before {
  border-top-color: #ff8a05;
}

.irs.irs--round .irs-bar,
.irs.irs--round .irs-from,
.irs.irs--round .irs-to,
.irs.irs--round .irs-single {
  background: #ff8a05;
}

.select2-container--default .select2-selection--single {
  border-color: #e2dee5;
}

.select2-container--default .select2-selection--multiple {
  border-color: #e2dee5;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #ede7f6;
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 212, 0.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ff8a05;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e2dee5;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ff8a05;
}

.simplebar-scrollbar::before {
  background: #353847;
}

.sidebar-dark #sidebar .simplebar-scrollbar::before {
  background: #e4dcf2;
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: #4f546b;
}

.editor-toolbar {
  border-color: #eceaee;
  background-color: #fbfbfc;
}

.CodeMirror {
  border-color: #eceaee;
}

.note-editor.note-frame {
  border-color: #eceaee;
}

.note-editor.note-frame .note-toolbar {
  background-color: #fbfbfc;
  border-bottom-color: #eceaee;
}

.note-editor.note-frame .note-statusbar {
  border-top-color: #eceaee;
  background-color: #fbfbfc;
}
