<?php
echo '<option value="0">Selecione o Hostel</option>';

foreach ($associados as $key => $associado) {
	?>
	<option value="<?php echo $associado['Associado']['id'];?>"><?php echo $associado['Associado']['nome'];?></option>
	<?php
}
?>