body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.bg-light {
	background-color: #f1f1f1 !important;
}
.fb-share-button {
	float: right;
}
.none {
	display: none;
}
.mobile {
	display: none !important;
}
.clear {
	clear: both;
}
.navbar {
	padding: 0;
}
.color {
	color: #108444;
}
.white {
	color: #ffffff !important;
}
a, a:hover {
	text-decoration: none;
}
.p1 {
	padding-bottom: 5px;
}
.container {
	position: relative;
}
#mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	top: 0;
	left: 0;
	z-index: 9999;
}
#pop {
	position: fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	background-color: #fff;
	z-index: 99999;
	border-radius: 10px;
    padding: 20px;
}
#pop p {
	text-align: center;
    margin-top: 60px;
    font-size: 20px;
}
#pop p.sucess {
	color: #4a8417;
}
#pop p.error {
	color: #ea664f;
}
header {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.jumbotron {
	padding: 0;	
	margin-top: 160px;
}
.mini-header {
	margin-bottom: 32px;
}
.mini-header div {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 250px;
}
.carousel-home .item {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 0;
	width: 100%;
}
.jumbotron .owl-carousel, .jumbotron .owl-item, .jumbotron .owl-carousel .owl-stage, .jumbotron .owl-stage-outer {
	display: -webkit-box;
	height: 100%;
}
.jumbotron .owl-item .item {
	width: 100%;
}
.jumbotron h1 {
	text-shadow: 2px 2px black, 0 0 black, 0 0 black, 0 0 black;
}
.jumbotron p {
	text-shadow: 1px 1px black, 0 0 black, 0 0 black, 0 0 black;
}
#menu a {
	float: left;
	display: block;
    padding-right: 20px;
    color: #807f7d;
    font-size: 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#menu a:hover, #menu a.active {
	text-decoration: none;
	color: #000000;
}
#menu a:last-child {
	padding-right: 0px;
}
.cargo {
	font-size: 14px;
}
h1 {
	font-weight: bold;
}
h3 {
	margin-top: 20px;
}
.navbar {
	width: 100%;
	background-color: rgb(255,255,255,0.9);
}
.navbar-brand {
	height: 90px;
	line-height: 60px;
    padding: 15px 0;
    max-width: 60%;
}
.navbar-brand img {
	max-width: 100%;
}
.carousel-home p {
	width: 59%;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	opacity: 0.8;
	color: #830101;
	text-shadow: none;
	font-weight: bold;
}
.carousel-home a {
	background-color: #830101;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 15px;
}
.box-carousel {
	background-image: url(../images/bg-carousel.png);
    background-repeat: repeat;
    background-position: center;
    padding: 100px 50px;
    position: absolute;
    z-index: 2;
    top: -450px;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: left;
}
.box-carousel a {
	margin-top: 30px;
	display: inline-block;
	color: #ffffff;
	background-color: #000000;
	font-size: 14px;
	padding: 0px 20px;
	font-weight: normal;
	letter-spacing: 0px;
}
#bem-vindo {
	margin-top: -32px;
}
#bem-vindo > div > div > div {
	padding: 40px 20px;
	font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
#bem-vindo > div > div > div.mini h3 {
	margin: 0 0 10px 0;
	color: #333333;
}
#bem-vindo > div > div > div.mini {
	text-align: left;
	font-size: 17px;
}
#bem-vindo > div > div > div.mini:first-child {
	padding-left: 10%;
}
#bem-vindo > div > div > div.mini:last-child {
	padding-right: 10%;
	padding-top: 82px;
}
.bemvindo-white {
    color: #9A9A9A;
    text-align: right;
}
.bemvindo-black {
	color: #FFFFFF;
    text-align: left;
    background-color: #000000;
}
#sobre a, .btn-profile {
	background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    border: 0;
}
.sobre-icones {
	margin-top: 65px;
}
.image_wrapper {
 	margin-bottom: 25px;
}
.icon_box a {
	color: #212529;
}
.icon_box:hover .desc_wrapper .title:before {
    width: 100px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.icon_box .desc_wrapper .title:before {
    content: "";
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    top: -15px;
    position: relative;
    background-color: #000;
}
.icon_box .image_wrapper img {
	position: relative;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.icon_box:hover .image_wrapper img {
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: -5px;
}
#newsletter {
	background-color: #f5d846;
	padding: 30px 0;
}
#newsletter form {
	width: 100%;
}
#newsletter input {
	border: 1px solid #807f7d;
	border-radius: 5px;
	padding: 10px;
	background-color: #ffffff;
	color: #807f7d;
}
#newsletter button {
	border-radius: 5px;
	padding: 8px 15px;
	background-color: #000000;
	color: #ffffff;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;	
	animation:slide-down 0.5s;
}
.mt118 {
	margin-top: 118px;
}
.testimonials .testimonial-item {
    margin-bottom: 20px;
}
.testimonial-item p {
    padding: 18px 20px 25px 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 0;
    border: 1px solid #ccc;
	min-height: 140px;
}
.testimonial-item p strong {
	font-size: 50px;
}
.owl-carousel .owl-item .testimonial-item img {
	width: 100px;
    float: left;
    margin: 0 18px 30px 0;
    border-radius: 50px;
}
.testimonials-arrow {
    background: url(../images/testimonials-arrow.png) no-repeat;
    width: 26px;
    height: 26px;
    margin: -1px 0 0 30px;
}
.testimonial-item .author {
    margin: 5px 0 0 0;
}
.testimonial-item .author a {
	text-decoration: none;
}

#div_menu_mobile {
	position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 75px;
    left: 0;
    padding: 20px;
    z-index: 99;	
	animation:slide-down 0.5s;
	display: none;
}
#div_menu_mobile a {
	width: 100%;
	display: block;
	color: #333333;
	text-align: right;
	padding: 10px;
}
section {
	margin-bottom: 50px;
}
section p {
	line-height: 180%;
}
.list-group-flush:first-child .list-group-item:first-child, .list-group-flush:last-child .list-group-item:last-child {
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
#fields form {
	width: 100%;
}
#depoimentos {
	margin-bottom: 10px;
}
#depoimentos .owl-nav {
	float: right;
	margin-top: -50px;
}
#depoimentos .owl-nav button, #clientes .owl-nav button, #parceiros .owl-nav button {
	margin-left: 15px;
	margin-bottom: 0px;
	border: none;
    outline:none;
}
#depoimentos .owl-nav span, #clientes .owl-nav span, #parceiros .owl-nav span {
	width: 24px;
	height: 24px;
	overflow: hidden;
	display: inline-block;
	color: #5a5c5d;
	font-size: 18px;
	text-indent: 9999px;	
}
#depoimentos .owl-carousel .owl-nav button.owl-prev span, #clientes .owl-carousel .owl-nav button.owl-prev span, #parceiros .owl-carousel .owl-nav button.owl-prev span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#depoimentos .owl-carousel .owl-nav button.owl-next span, #clientes .owl-carousel .owl-nav button.owl-next span, #parceiros .owl-carousel .owl-nav button.owl-next span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
footer > .container > p {
    right: 25px;
    position: absolute;
}
.jumbotron .owl-nav .owl-prev {
	float: left;
}
.jumbotron .owl-nav .owl-next {
	float: right;
}
.jumbotron .owl-nav button {
	margin: 0 15px;
	border: none;
    outline:none;
}
.jumbotron .owl-nav span {
	width: 24px;
	height: 24px;
	overflow: hidden;
	display: inline-block;
	color: #5a5c5d;
	font-size: 18px;
	text-indent: 9999px;	
}
.jumbotron .owl-carousel .owl-nav button.owl-prev span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.jumbotron .owl-carousel .owl-nav button.owl-next span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.carousel-destinos .owl-nav button {
	position: absolute;
	border: none;
    outline:none;
}
.carousel-destinos .owl-nav span {
	width: 24px;
	height: 24px;
	overflow: hidden;
	display: inline-block;
	text-indent: 9999px;	
}
.carousel-destinos .owl-nav button.owl-prev {
	top: 280px;
	left: -30px;
}
.carousel-destinos .owl-nav button.owl-next {
	top: 280px;
	right: -30px;
}
.carousel-destinos .owl-nav button.owl-prev span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.carousel-destinos .owl-nav button.owl-next span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.msg-error {
	padding-left: 20px;
	color: #ff0048!important;
}
.validation-error{
	border-left:solid 4px #ff0048!important;
}
.validation-error::-webkit-input-placeholder {
    color: #ff0048!important;
    font-weight: bold;
    font-size: 12px;
}

.form-control {
	height: auto;
}

.submit {
	background-color: #108444;
	border: 0px;
}
footer {
	background-color: #f5d846;
	color: #000000;
	padding-bottom: 20px;
}
footer a {
	color: #000000;
}
footer p {
	padding: 0 0 10px 0;
	margin: 0;
}
#contato-info .info {
	width: 100%;
}
#contato-info .info.last {
	margin-bottom: 15px;
}
#contato-info .share-social {
	width: 100%;
}
#contato-info .share-social a {
	color: #666;
    font-size: 30px;
    display: inline-block;
    margin-top: 0px;
    width: 16%;
}
#contato-info .share-social a:hover {
	color: #108444;
}
#contato-info .share-social a img {
	width: 100%;
}
.lead {
    font-size: 1rem;
    font-weight: 300;
}
#counter {
	padding: 60px;
	background: url(../images/bg_estatisticas.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0px;
}
#counter div > .bloco {
	padding: 30px 15px;
	background-color: rgba(255, 255, 255, 0.27);
	-o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    text-align: center;
}
#counter div > .bloco span.circle {
	padding: 10px;
	font-size: 36px;
	color: #000;
	border-radius: 50px;
	width: 76px;
    height: 76px;
    display: inline-block;
    background-color: #fff;
}
#counter div > .bloco span.faturamento, #counter div > .bloco span.leitos, #counter div > .bloco span.variaveis, #counter div > .bloco span.diarias {
	font-weight: bold;
}
#counter div > .bloco .number {
	font-size: 32px;    
    color: #fff;
}
#counter div > .bloco .number-text {
	font-size: 16px;
    color: #000;
}

#counter div > .bloco.hover {
	background-color: rgba(0, 0, 0, 0.27);
	cursor: pointer;
}
#counter div > .bloco.hover span.circle {
	color: #fff;
    background-color: #000;
    border: 2px solid #fff;
}
#counter div > .bloco.hover .number-text {
	font-size: 16px;
    color: #fff;
}

#contato-suspenso {
	position: fixed;
	right: 5px;
	bottom: 0;
	z-index: 999; 
	cursor: pointer;
}
#contato-suspenso .header {
	width: 300px;
	padding: 10px;
	text-align: center;
	color: #fff;
	background-color: #108444;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #ffffff;
	border-bottom: none;
}
#contato-suspenso .contato-body {
	display: none;
	width: 300px;
    padding: 0 20px;
    background-color: #ffffff;
    font-size: 12px;
}
#contato-suspenso .contato-body label {
	margin-bottom: 1px !important;
}
#contato-suspenso .contato-body .form-control, #contato-suspenso .contato-body .submit {
	font-size: 12px;
}
.italic {
	font-style: italic;
}
#destinos img {
	width: 95%;
}
.destino-suspenso {
	position: absolute;
	bottom: 0px;
	font-size: 30px;
    line-height: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #ffffff;
    font-weight: bold;
    width: 85%;
    padding: 20px;
    text-align: center;
}
#destinos-interna .destino-suspenso {
	width: 100%;
}
#destinos a:hover .destino-suspenso, #destinos-interna a:hover .destino-suspenso {
	background-color: rgb(0,0,0,0.8);
}
.ver-mais {
	padding: 10px 20px;
	background-color: #f5d846;
	color: #333333;
	margin-top: 10px;
	display: inline-block;
}
h4 {
	font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 1px;
}
#noticias img {
	width: 100%;
}
#noticias a {
	color: #333333;
}
#noticias h4 {
	margin-top: 15px;
}
.noticia-block {
	padding: 15px;
}
.noticia-block > div {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 15px;
}
#noticias .noticia-block a {
	color: #108444;
    width: 100%;
    text-align: right;
    display: block;
    font-weight: bold;
}
#destinos-interna {
	background-color: #ffffff;
	margin-top: -50px;
	margin-bottom: 0;
}
.associado-img, .parceiro-img {
	margin-bottom: 20px;
    display: block;
}
#parceiros-interna img {
	width: 100%;
}
#associado-interna img {
	width: 100%;
}
.busca-associado {
	background-color: #f5d846;
	padding: 15px 0;
}
#DestinosReservaForm, #DestinosReservaForm select, #DestinosReservaForm input {
	width: 100%;
}
#DestinosReservaForm button, #DestinosReservaFormMobile button {
	padding: 5px 20px;
	border-radius: 5px;
	background-color: #000000;
	color: #ffffff;
	border: 0px;
}
.associado-texto a, .parceiro-texto a {
	color: #108444;
}
.image-post {
	width: 100%;
	margin-bottom: 20px;
}
#noticias .image-post img {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border: 10px solid #ffffff;
	border-radius: 5px;
}
.desenvolvido {
	font-size: 10px;
    text-align: center;
    padding-top: 28px;
    border-top: 1px solid #dec024;
}
.desenvolvido a {
	display: inline-block;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
.desenvolvido img {
	vertical-align: baseline;
    margin-left: 5px;
}

@media (max-width : 1000px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.navbar {
		padding: 10px;
	}
    .owl-nav {
    	margin-top: 0;
    }
    #pop {
    	width: 300px;
	    margin-left: -150px;
    }
    #counter div > .bloco {
    	margin-bottom: 40px;
    }
    footer .col-lg-3 img {
    	margin-bottom: 80px;
    }
    .box-carousel {
    	display: none;
    }
    #bem-vindo .bemvindo-white, #bem-vindo .bemvindo-black {
    	text-align: center;
    }
    .sobre-icones {
    	margin-top: 20px;
    }
    .icon_box {
    	margin-bottom: 30px;
    }
    #NewsAddForm button {
    	margin-top: 10px;
    }
    #destinos img {
    	margin-bottom: 10px;
    }
    #noticias .col-lg-4 {
    	margin-bottom: 20px;
    }
    #bem-vindo > div > div > div.mini:first-child {
    	padding: 40px 20px;
    }
    #bem-vindo > div > div > div.mini:last-child {
		padding: 40px 20px;	
    }
    .carousel-destinos .owl-nav button.owl-next {
	    right: 0;
	}
	.carousel-destinos .owl-nav button.owl-prev {
	    left: 0;
	}
	.busca-associado {
		margin-top: -32px;
		margin-bottom: 45px;
	}
	#DestinosReservaFormMobile input, #DestinosReservaFormMobile select {
		margin-bottom: 10px; 
	}
	.jumbotron {
		margin-top: 110px;
		height: 150px !important;
	}
	.institucional, .institucional img {
		width: 100%;
	}
	#destinos img {
	    width: 100%;
	}
	.desenvolvido {
		padding-bottom: 40px;
	}
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}