<footer id="page-footer" class="bg-body-light">
    <div class="content py-3">
        <div class="row font-size-sm">
            <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-left">
                <a class="font-w600" href="javascript:void(0);" target="_blank">Booles 2.0</a> &copy; <span data-toggle="year-copy"></span>
            </div>
        </div>
    </div>
</footer>